body {
	font-family: "Montserrat";
}

#title {
	background-color: #ff4c68;
	color: #fff;
}

#con {
	padding: 3%;
	padding-left: 15%;
	padding-right: 15%;
}

.meet {
	font-family: "Montserrat";
	font-weight: 900;
	font-size: 3rem;
	line-height: 1.5;
	color: aliceblue;
}

.navbar-brand {
	font-family: "Ubuntu";
	font-size: 2.5rem;
	font-weight: bold;
}
.navbar {
	padding: 0 0 4.5rem;
}
.nav-item {
	padding: 0 18px;
}
.nav-link {
	font-size: 1.2rem;
	font-family: "Montserrat";
}

/* Download Bottom*/

.download-button {
	margin: 5% 3% 5% 0;
}

.title-image {
	width: 60%;
	transform: rotate(25deg);
}

#features {
	padding: 7% 15%;
	background-color: white;
}

.feature-box {
	text-align: center;
	padding: 5%;
}

h3 {
	font-family: "Montserrat";
	font-weight: 900;
}

p {
	color: #8f8f8f;
}

.icon {
	color: #ef8172;
	margin-bottom: 1rem;
}

.icon:hover {
	color: #ff4c68;
}

#testimonials {
	padding: 7% 10%;
	text-align: center;
	background-color: #ef8172;
	color: #fff;
}
.carousel-item {
	padding: 7% 15%;
}
h2 {
	font-family: "Montserrat";
	font-size: 3rem;
	font-weight: 700;
}

.testimonial-image {
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}
#press {
	background-color: #ef8172;
	text-align: center;
}
.press-logo {
	width: 15%;
	margin: 20px 20px 50px;
}

#pricing{
	padding: 100px;
}

.pricing-column{
	padding: 3% 2%;
	text-align: center;
}